*{padding: 0; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

body{font-family: Roboto, sans-serif, Arial, Helvetica;}

.container{
    width: 100%;
}

aside .menu{
    background: linear-gradient(180deg, rgba(3,90,166,1) 0%, rgba(2,40,89,1) 100%);
    width: 25%;
    height: 100vh;
    float: left;
}

.main{
    background: radial-gradient(circle, rgba(5,175,242,1) 0%, rgba(4,135,217,1) 30%, rgba(3,90,166,1) 100%);
    width: 75%;
    height: 100vh;
    float: left;
}

